/* .about_page{
    margin-bottom: 5rem;
    display: flex;
} */
/* .nice_desk{
    margin-top: 8rem;
} */
.about_page{
    padding: 8.7rem 0;
}
.desk_image{
    width: 100%;
    display: block;
    border-radius: 0.25rem;
    height: 500px;
    object-fit: cover;

}
.about_info{
    text-align: left;
}
.about_title{
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: 700;
}
.about_paragraph{
    line-height: 2;
    max-width: 45em;
    margin: 2rem auto 0px;
    color: #617d98;
}
/* .title_1{
    font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  text-decoration: underline;
}
.paragraph_2{
    margin-top: 3rem;
    text-align: left;
    line-height: 2;
    font-size: 1rem;
    color: #617d98;
    margin-bottom: 2rem;
    font-family: "Ubuntu", sans-serif;
} */
/* body{
    background: none !important;
} */